.History{    
    transition: ease 0.3s;
    h4{
        margin: 2rem 0; 
    }
    .MuiTableContainer-root{ 
        display: flex;
        justify-content: center;
        overflow-x: auto;
        background-color: #03222c; 
        box-shadow: none; 
        margin-bottom: 4rem;
        .MuiTable-root{
            border-radius: 5px;
            overflow: hidden;
            width: 65%; 
            tr{
                th{
                    white-space: nowrap;
                }
            }
        } 
        .MuiToolbar-root{
            width: 100px;
        }
    } 
    select,select:focus{
        background-color: white;
        color:black;
    }
}

@media screen and (max-width:1600px) {
    .History{
        .MuiTableContainer-root{ 
            .MuiTable-root{
                width: 75%;  
            }
        }
    }
}
@media screen and (max-width:1130px) {
    .History{
        .MuiTableContainer-root{ 
            .MuiTable-root{
                width: 85%; 
            }
        }
    }
}
@media screen and (max-width:800px) {
    .History{
        .MuiTableContainer-root{
            justify-content: flex-start;
            .MuiTable-root{
                width: 85%; 
            }
        }
    }
}