.Profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease 0.3s;
    h2{
        margin-bottom: 0;
    }
    .MuiAvatar-root{  
        text-transform: capitalize;
        background-color: rgb(179, 0, 0);
        font-size: 3rem;
        width: 120px; 
        height: 120px; 
    }
    .buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        button{
            display: flex;
            flex-direction: column;
            width: 250px;
            height: 150px;
            color: goldenrod;
            border-color: goldenrod; 
            margin: 10px;
        }
    }
}