.Quotes{
    .MuiTextField-root{ 
        border-radius: 5px;
        background: white;   
        label, input{
            font-weight: 600; 
        }
    }
    .MuiButton-root{ 
        height: 56px;  
    }
    h2{
        margin-top: 3rem;
    }
    h4{
        margin: 2rem 0; 
    }
    .results{
        display: flex; 
        flex-direction: column;
        align-items: center; 
        margin-top: 2rem;
    }
}