.Quotes{
    .MuiTextField-root{ 
        border-radius: 5px;
        background: white;   
        label, input{
            font-weight: 600;
        }
    }
    .MuiButton-root{ 
        height: 56px;  
    }
    h4{
        margin: 2rem 0; 
    }
}