.Asset{
    width: 40vw;  
    .assetgrid{
        display: grid;
        grid-template-columns: 1fr 1fr;  
        p:nth-child(odd){
            text-align: left;
        }
        p:nth-child(even){
            text-align: center;
        }
        img{
            width: 30px;
            transform: translateY(2px);
        }
    }
}