.DrawerNav{
    display: flex;
    .MuiAppBar-root{
        background-color: #051318;
        .MuiToolbar-root{
            display: flex;
            justify-content: space-between;
            .left{
                display: flex; 
                align-items: center;
                cursor: pointer;
            }
            .right{
                display: flex;
                p {
                    margin-left: 1rem;  
                } 
                svg,.logout{
                    cursor: pointer;
                } 
            }
        }
    }
    .MuiDrawer-root{
        .MuiDrawer-paperAnchorLeft{
            background-color: #051318;
            color: white;
        }
        svg{
            color: white;
        } 
    }
}

@media screen and (max-width:800px){
    .DrawerNav{
        .MuiAppBar-root{
            .MuiToolbar-root{
                .right{
                    .welcome{
                        display: none;
                    }
                }
            }
        }
    }
}