.DrawerNav{
    display: flex;
    .MuiAppBar-root{
        background-color: #051318;
        .MuiToolbar-root{
            display: flex;
            justify-content: space-between;
            .left{
                display: flex; 
                align-items: center;
            }
            .right{
                display: flex;
                p {
                    margin-left: 1rem; 
                }
            }
        }
    }
    .MuiDrawer-root{
        .MuiDrawer-paperAnchorLeft{
            background-color: #051318;
            color: white;
        }
        svg{
            color: white;
        } 
    }
}